{% extends "base.html" %}
{% load static %}

{% block title %}
    my blog 
{% endblock %}


{% block css_files %}
    <link rel="stylesheet" href="{%static "blog/index.css"%}">
    <link rel="stylesheet" href="{%static "blog/post.css"%}">
    
{% endblock %}

{% block content %}
<div class="container">
    
<section id="welcome">
    <header id="header" >


        <div class="card" style="width: 30rem; ">
            
            <div>
                <img class="cardi"style="height:60px; width:60px " src="{% static "blog/images/1.jpg" %}" alt="Paul the author of this blog " >
            </div>
            <div class="card-body">
              <p> Royal Vacation</p>
              <p>hi, i am paul i love to blog about cities </p>
            </div>
        </div>






       

        
    </header>
    
</section>
<section id="latest-post">
    <h2 ><center><i>Our latest posts<i> <center></h2>
    <ul>
        {% for post in posts%}
        {% include "blog/includes/post.html" %}
        {% endfor %}
    </ul>

</section>
<section class="about" style=" ">
   <center> <h5> <i>what we do :
    we love traveling and vacation
    our goal is to keep on growing as the best location finder </i></h5> </center>
</section>
</div>

{% endblock %}