{% extends "base.html"%} 

{% load static %}
{% block title %}
post detail

{% endblock title %}


{% block css_files %}
<link rel="stylesheet" href="{%static "blog/post.css"%}">
<link rel="stylesheet" href="{%static "blog/all-post.css"%}">
{% endblock %}

{% block content %}

<section id="summary">
    
    <h2> title is {{post.title}}</h2>
    <div>
        {% for tag in post_tags%}
        <span class="tags"> {{tag.caption}}</span>
        {%endfor%}

    </div>
    <article>
        <img class="dis_image" src="{{post.image.url}}" alt="{{post.title}}">
        <address><a href="mailto:{{post.author.email_address}}"> by {{post.author}} </a></address>
        <div>
            last updated on <time> {{post.date}} </time>
        </div>
    </article>

<main>
    {{post.content|linebreaks }}

</main>
<div>

    <form id="comment-form">
        {% for form_field in comment_form%}
        <div class="form-control">
                {{ form_field.label_tag}}
                {{ form_field}}
                {{ form_field.errors}}
        </div>
        {% endfor%}
        
        <button> save comment </button>
    </form>

</div>

</section>
{% endblock %}