{% extends "base.html"%} 

{% load static %}
{% block title %}
post detail

{% endblock title %}


{% block css_files %}
<link rel="stylesheet" href="{%static "blog/post.css"%}">
<link rel="stylesheet" href="{%static "blog/all-post.css"%}">
{% endblock %}

{% block content %}


{% if comment_form.errors %} 
<div id="alert">
    <h2> saving the comment</h2>
    <p> please the comment form below the post are  and check the post 
<a href="#comment_form"> Fail</a>
    </div>
{% endif%}


<section id="summary">
    
    <h2> title is {{post.title}}</h2>
    <div>
        {% for tag in post_tags%}
        <span class="tags"> {{tag.caption}}</span>
        {%endfor%}

    </div>
    <div id="read-later">
        <form action="{% url "read-later"%}" method="POST">
            {%csrf_token%}
            <input type="hidden" value="{{post.id}}" name="post_id">
        <button > Read Later </button>
        </form>
    </div>
   <center> <article>
        <img class="dis_image" src="{{post.image.url}}" alt="{{post.title}}">
        <address><a href="mailto:{{post.author.email_address}}"> by {{post.author}} </a></address>
        <div>
            last updated on <time> {{post.date}} </time>
        </div>
    </article> 

<main style="width:600px;">
    {{post.content|linebreaks }}


</main>
<h5 style="color:#ad6b6b;">COMMENTS</h5>
<section class="comments">
    <ul>
      {% for comment in comments%} 
      <li>
          <h2> {{comment.user_name | linebreaks }}</h2>
          <p>{{comment.text| linebreaks}}</p>
      </li> 
      {% endfor %}
    </ul>

</section>


<div>
</center>
    <section id="comment-form">
        <form action="{% url "post-detail-page"  post.slug %}" method="POST">
            {% csrf_token %}
            {% for form_field in comment_form%}
            <div class="form-control">
                {{ form_field.label_tag}}
                {{ form_field}}
                {{ form_field.errors}}
            </div>
             {% endfor%}
        
            <button> save comment </button>
        </form>
    </section
    
</div>

</section>
{% endblock %}